<p id="notice"><%= notice %></p>

<div class="header_vacancy">
 <table width="100%"><tr><td><h3>Vacancy</h3></td><td align="right">

	<% if Instrumentalist.where(user_id: current_user.id, instrument_id: @vacancy.instrument_id).any? %>
	  <%= render 'follow_form' %>
	<% end %></td></tr> </table>
</div>


<div class="header_vacancy" width="100%"> 
  <div class="panel panel-default">
  <div class="panel-body">

  <strong>Group: <%= link_to "#{Group.find(@vacancy.group_id).name}", "/groups/#{@vacancy.group_id}" %></strong><br />
  <strong>Instrument:</strong>
  <%= Instrument.find(@vacancy.instrument_id).name %><br />
  <% if @vacancy.info!=nil and @vacancy.info!="" %>
     <strong>Info:</strong>
     <%= @vacancy.info %>
  <% end %><br />


  <% if UserToGroup.where(user_id: current_user.id,group: @vacancy.group_id, role_id: Role.where(name: "admin").first.id).any? %>  
      <strong>Responses: </strong> <ul>
      <% Answer.where(vacancy_id: @vacancy.id).each do |answer| %>
	<li><%= link_to "#{User.find(answer.user_id).firstname}
         #{User.find(answer.user_id).lastname}", "/users/#{answer.user_id}" %> </li>
      <% end %> </ul>
  <% end %>

	<% if ! Instrumentalist.where(user_id: current_user.id, instrument_id: @vacancy.instrument_id).any? %>
	  <p> If you want to response the vacancy please add <%= Instrument.find(@vacancy.instrument_id).name %> to 
	      your instruments by editing your profile.
          </p>
       <%end %>
</div></div></div>
