<div class="editing" width="100%"> 
  <div class="panel panel-default">
    <div class="panel-body">

<%= bootstrap_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :name %>
    <%= f.text_field :information %>
      <%= f.select :country_id, options_for_select(Country.all.collect { |country|
	[country.name.titleize, country.id] }, 1), {}, { id: 'countries_select' } %>
      <%= f.select :state_id, options_for_select(State.where(country_id: Country.first.id).collect { |state|
	[state.name.titleize, state.id] }, 0), {}, { id: 'states_select' } %>
      <%= f.select :city_id, options_for_select(City.where(state_id: State.first.id).collect { |city|
	[city.name.titleize, city.id] }, 0), {}, { id: 'cities_select' } %>
 
     <%= f.label :Genres %><br>
    <div class="participant">
     <% Genre.all.each do |genre| %> 
          <%= check_box_tag "group[genre_ids][]", genre.id, f.object.genres.include?(genre) %>
          <%= genre.name%><br />
     <% end %>
    </div>

  <div class="actions" align="right">
    <%= f.submit %>
  </div>
</div>
<% end %>

  </div>
  </div>
</div>
<script>
$("#countries_select").change(function() {
  var input_state = $(this);
  var opt;
  var states=$("#states_select"); 
  states.empty();

  $.getJSON('/get/states/' + $(this).val(), function (data) {
  
    opt= '<option value="" selected="">Select City</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele.id +'>' + ele.name+ '</option>';     
    }); states.prepend(opt);
  });
});
</script>
<script>
$("#states_select").change(function() {
  var input_state = $(this);
  var opt;
  var cities=$("#cities_select"); 
  cities.empty();

  $.getJSON('/get/cities/' + $(this).val(), function (data) {
  
    opt= '<option value="" selected="">Select City</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele.id +'>' + ele.name+ '</option>';     
    }); cities.prepend(opt);
  });
});
</script>




