<p id="notice"><%= notice %></p>
<div class="search">
  <%= form_tag(groups_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    
   <%= label_tag(:name, "Search for:") %>
   <%= text_field_tag(:name) %>

 <select  name="country_name" >
    <option value="" selected="">Select Country</option>
      <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
  </select>  
 
  <select name="state_name">
    <option value="" selected="">Select State</option>
  </select>

  <select name="city_name">
    <option value="">Select City</option>
  </select>
  <ul>Genres
   <% @genres.each do |genre| %>
     <li>
        <%= check_box_tag 'genres', genre.id -%>
        <%= genre.name-%>
     </li>
     <% end %>
  </ul>


<script>
$('select[name="country_name"]').change(function() {
  var input_state = $(this);
  var opt;
  var states=$('select[name="state_name"]');
  $.getJSON('/states/' + $(this).val(), function (data) {
    states.empty();
    opt= '<option value="" selected="">Select State</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ i +'>' + ele + '</option>';     
    }); states.html(opt);
  });
});
</script>


<script>
$('select[name="state_name"]').change(function() {
  var input_state = $(this);
  var opt;
  var cities=$('select[name="city_name"]');
  $.getJSON('/cities/' + $(this).val(), function (data) {
    cities.empty();
    opt= '<option value="" selected="">Select City</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele +'>' + ele+ '</option>';     
    }); cities.html(opt);
  });
});
</script>
      <button class="btn" type="submit">Search</button>
<% end %>
</div>

<h1>Listing Groups</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Information</th>
      <th>City name</th>
      <th>State name</th>
      <th>Country name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.information %></td>
        <td><%= group.city_name %></td>
        <td><%= group.state_name %></td>
        <td><%= group.country_name %></td>
        <td><%= link_to 'Show', group %></td> 
        <% if UserToGroup.where(user_id: current_user.id, group_id: group.id, role_id: Role.where(name: "admin").take.id).order(created_at: :desc).first  !=nil %>  
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
