<div class="search_page">

<div class="search">
<div class="panel panel-default"> 
	<div class="panel-heading">
          <h3 class="panel-title"> Search </h3>
        </div>
  <%= form_tag(users_path, :method => "get", class: "navbar-form", id: "search-form") do %>
     <%= text_field_tag "name" ,nil, placeholder: 'Name...' %><br>
     Country  <br>
     <%= select_tag  :country_id,  options_for_select(Country.all.collect { |country|
	[country.name.titleize, country.id] }) , {:class => 'form-control',  :style => "width:200px", :include_blank => true} %><br>
     State  <br>
      <%= select_tag :state_id, options_for_select(State.where(country_id: Country.first.id).collect { |state|
	[state.name.titleize, state.id] }) , {:class => 'form-control',  :style => "width:200px", :include_blank => true} %><br>
     City</br>
      <%= select_tag :city_id, options_for_select(City.where(state_id: State.first.id).collect { |city|
	[city.name.titleize, city.id] }) , {:class => 'form-control',  :style => "width:200px", :include_blank => true} %><br>
 
     Gender</br>
     <div class="search_gender">
            <% @gender.each do |gender| %>
     
                  <%= check_box_tag 'genders', gender.id -%>
                  <%= gender.name-%> <br>
    
            <% end %>
        </div>
      <button class="btn" type="submit">Search</button>
<% end %>
</div>
</div>
<div class="search_result">
<div class="panel panel-default"> 
	<div class="panel-heading">
        Users 
        </div>

 <div class="panel-body">
      <table class="table-striped" width="100%">  
	    <% @users.each do |user| %>
	      <tr>
		<td><%= image_tag avatar_url(user) %> <%=link_to "#{user.firstname}"" ""#{user.lastname}", user_path(user.id) %></td>
	      </tr>
	    <% end %>
     </table>
</div>
  <div class="panel-heading">
    <%= will_paginate @users %>
  </div>

</div>
</div>
</div>

<script>
$("#country_id").change(function() {
  var input_state = $(this);
  var opt;
  var states=$("#state_id"); 
  states.empty();

  $.getJSON('/get/states/' + $(this).val(), function (data) {
  
    opt= '';
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele.id +'>' + ele.name+ '</option>';     
    }); states.prepend(opt);
  });
});
</script>
<script>
$("#state_id").change(function() {
  var input_state = $(this);
  var opt;
  var cities=$("#city_id"); 
  cities.empty();

  $.getJSON('/get/cities/' + $(this).val(), function (data) {
  
    opt= '';
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele.id +'>' + ele.name+ '</option>';     
    }); cities.prepend(opt);
  });
});
</script>


