
<div class="row">
     <p> <h1>       
       
      </h1></p>
   <h2>
     <p>  <%= @user.firstname %>
           <%= @user.lastname %>  <br>
          email: <%= @user.email %><br>
          date of birth: <%= @user.date_of_birth %><br>
	  info: <%= @user.info %><br>
     </p>
  </h2>
</div>