<div class="editing" width="100%"> 
  <div class="panel panel-default">
    <div class="panel-body">

<%= bootstrap_form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h3>
      <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table width="100%"> 
   <tr>
       <td align="right" valign="top">Theme: </td> 
       <td>&nbsp;&nbsp;&nbsp;</td>
       <td>  <%= f.text_field :Theme , skip_label: true%> </td>
       <td width="15%">&nbsp;&nbsp;&nbsp;</td>
   </tr>
   <tr><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr>
   <tr>   
       <td align="right" valign="top">Participants: </td>
       <td>&nbsp;&nbsp;&nbsp;</td>
       <td><div class="participant">
          <% if @friends.any? %>
	     <% @friends.each do |user| %>   
	          <%= check_box_tag "chat[user_ids][]", user.id, f.object.users.include?(user) %>
	          <%= user.firstname%> <%= user.lastname %>
	     <% end %>
	  <% else %>
	    You don't have friends yet
	  <% end %>
       </div>
       </td>
       <td>&nbsp;&nbsp;&nbsp;</td>
   </tr>
   <tr><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td></tr>
   <tr><td>&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;</td>
       <td align="right"> <div class="actions"> 
               <%= f.submit  %>
            </div> 
       </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
  </tr>
</table>
<% end %>
   </div>
  </div>
</div>
