<%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Theme %><br>
    <%= f.text_field :Theme %>
  </div>
  <ul>  
     <%= f.label :Participants %><br>
     <% User.all.each do |user| %>
       <li>   
          <%= check_box_tag "chat[user_ids][]", user.id, f.object.users.include?(user) %>
          <%= user.firstname%> <%= user.lastname %>
       </li>
     <% end %>
  </ul>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
