<p id="notice"><%= notice %></p>
<div class="listing">
<div class="panel panel-default">
  <div class="panel-heading">
     <table width="100%">
     <tr>
        <td> Chats</td>
        <td align="right"> <%= link_to 'New Chat', new_chat_path %></td>
     </tr>
     </table>
 </div>
  

  <% if @chats.any?%>
  <table class="table">
      <% @chats.each do |chat| %>
       <tr>
          <td><%= link_to "#{chat.Theme}", chat %></td>
          <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
          <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
     </table>
  <% else %>
    <li class="list-group-item">You have no chats.</li>
  <% end %>
</div>
</div>