<div>
  <h1><%= @chat.Theme %></h1>

 <%= render 'message_form' %>

  <% if @chat.messages.any? %>
     <%= sync partial: 'message_row', collection: @chat.messages %>
     <%= sync_new partial: 'message_row', resource: Message.new %>
  <%end%>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
</div>