<div class="editing" width="100%"> 
  <div class="panel panel-default">
    <div class="panel-body">

<%= bootstrap_form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @instrumentalists.count>0 %>
    <%= f.label :Insrument %> <br />
    <select class="selectpicker" name="resume[instrumentalist_id]" > 
        <% @instrumentalists.each do |instrumentalist| %>
          <option value="<%= instrumentalist.id %>"><%= Instrument.find(instrumentalist.instrument_id).name %></option>
        <% end %>
    </select>  </br>


     <%= f.label :Genres %><br>
      <div class="participant">
	     <% Genre.all.each do |genre| %>
	       <li>   
		  <%= check_box_tag "resume[genre_ids][]", genre.id, f.object.genres.include?(genre) %>
		  <%= genre.name%>
	       </li>
	     <% end %>
         </div> 
       <br />
  <div class="actions" align="right">
    <%= f.submit %>
  </div>
<% else %> <p> Please choose instruments you are able to play in your profile. No instruments can be selected now. <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </p>
   <% end %> 
<% end %>
 </div>
  </div>
</div>

