<%= form_for(@resume) do |f| %>
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

      <ul>
      <% @resume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @instrumentalists.count>0 %>
  <div class="field">  
    <select  name="resume[instrumentalist_id]" > 
      <option value="" selected="">Select instrument</option>
        <% @instrumentalists.each do |instrumentalist| %>
          <option value="<%= instrumentalist.id %>"><%= Instrument.find(instrumentalist.instrument_id).name %></option>
        <% end %>
    </select>  
  </div>
  <div class="field">
   <ul>  
     <%= f.label :Genres %><br>
     <% Genre.all.each do |genre| %>
       <li>   
          <%= check_box_tag "resume[genre_ids][]", genre.id, f.object.genres.include?(genre) %>
          <%= genre.name%>
       </li>
     <% end %>
  </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% else %> <p> Please choose instruments you are able to play in your profile. No instruments can be selected now. <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </p>
   <% end %> 
<% end %>
