<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true %>
  </div>

  <div><%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>

  <div><%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
 <div><%= f.label :gender %><br />
  <%= f.collection_select :gender_id, Gender.order(:name), :id, :name, include_blank: true %>
 </div>

 <select  name="user[country_name]" >
    <option value="" selected="">Select Country</option>
      <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
  </select>  
 
  <select name="user[state_name]">
    <option value="" selected="">Select State</option>
  </select>

  <select name="user[city_name]">
    <option value="">Select City</option>
  </select>
<script>
$('select[name="user[country_name]"]').change(function() {
  var input_state = $(this);
  var opt;
  var states=$('select[name="user[state_name]"]');
  $.getJSON('/states/' + $(this).val(), function (data) {
    states.empty();
    opt= '<option value="" selected="">Select State</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ i +'>' + ele + '</option>';     
    }); states.html(opt);
  });
});
</script>


<script>
$('select[name="user[state_name]"]').change(function() {
  var input_state = $(this);
  var opt;
  var cities=$('select[name="user[city_name]"]');
  $.getJSON('/cities/' + $(this).val(), function (data) {
    cities.empty();
    opt= '<option value="" selected="">Select City</option>'
    $.each(data, function (i, ele) {
      opt+='<option value='+ ele +'>' + ele+ '</option>';     
    }); cities.html(opt);
  });
});
</script>

  <div><%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

 <ul>  
     <%= f.label :Instruments %><br>
     <% Instrument.all.each do |instrument| %>
       <li>   
          <%= check_box_tag "user[instrument_ids][]", instrument.id, f.object.instruments.include?(instrument) %>
          <%= instrument.name%>
       </li>
     <% end %>
  </ul>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "users/shared/links" %>
